/* Дизайнерская тень */
@mixin box-shadow($size, $color) {
  box-shadow: -#{$size} $size $color;
}

/* Плейсхолдеры для инпутов */
@mixin placeholder($color, $opacity: 1) {
  &::placeholder {
    color: $color;
    opacity: $opacity;
  }

  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}

/* Медиа-запросы */
@mixin _1200 {
  @media (max-width: 1200px){
    @content;
  }
}

@mixin _812 {
  @media (max-width: 812px){
    @content;
  }
}
