/* Темная тема для блоков */
@mixin dark-theme {
  color: $blue;
  background-color: $dark-blue-v2;
}

/* Светлая тема для блоков */
@mixin light-theme($background-color: $blue) {
  color: $dark-blue-v2;
  background-color: $background-color;
}

/* Дизайнерская тень */
@mixin box-shadow($size, $color) {
  box-shadow: -#{$size} $size $color;
}

/* Темная тема для блоков с дизайнерской тенью */
@mixin dark-theme-with-box-shadow($shadow-size, $shadow-color) {
  @include dark-theme;
  @include box-shadow($shadow-size, $shadow-color);
}

/* Светлая тема для блоков с дизайнерской тенью */
@mixin light-theme-with-box-shadow($shadow-size, $shadow-color, $background-color: $blue) {
  @include light-theme($background-color);
  @include box-shadow($shadow-size, $shadow-color);
}

/* Плейсхолдеры для инпутов */
@mixin placeholder($color, $opacity: 1) {
  &::placeholder {
    color: $color;
    opacity: $opacity;
  }

  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}
