/* Базовый размер padding для разделов дефолтного layout (они помечены через grid-area) */
$base-padding-of-area-for-default-layout: 30px;

/* Ширина раздела aside для дефолтного layout */
$aside-width-of-default-layout: 31%;

/* Размер нижней рамки для блока navigation дефолтного layout */
$navigation-border-bottom-size-of-default-layout: 5px;
