/* Цвета */
$blue: #878CB0;

$light-blue-v1: #9FA1B3;
$light-blue-v2: #C6C9DE;

$dark-blue-v1: #5F627D;
$dark-blue-v2: #101121;
$dark-blue-v3: #0C0D1A;

$yellow: #FFF9CC;
$dark-yellow: #99957a;

$red: #c45252;
$dark-red: #c22727;

/* Длительность для анимаций */
$transition-duration: 500ms;

/* Размер box-shadow для блока caption */
$caption-box-shadow-size: 6px;
