/* Базовые стили для всех элементов форм */
%form-item {
    display: inline-block;
    width: 100%;

    font-weight: bold;
}

/* Стили для элементов форм со значением aside модификатора theme */
%aside-form-item {
    padding: 8px;
    text-align: center;
}

/* Размер обводки для элементов формы с темой main */
$main-form-item-border-size: 2.5px;

/* Стили для элементов форм со значением main модификатора theme */
%main-form-item {
    padding: 10px;
    border: $main-form-item-border-size solid var(--light-blue-v1);
}

/* Стили для инпутов со значением main модификатора theme */
%main-form-input {
    transition: border var(--transition-duration);

    &:focus {
        border: $main-form-item-border-size solid var(--dark-blue-v1);
    }
}

/* Стили для кнопок со значением main модификатора theme */
%main-form-button {
    text-transform: uppercase;
    transition: border var(--transition-duration), background-color var(--transition-duration);

    &:hover {
        background-color: var(--yellow);
        border: $main-form-item-border-size solid var(--dark-blue-v1);
    }
}

.form {
    &__input {
        @include placeholder(var(--dark-blue-v2));
    }

    &__button {
        user-select: none;
    }

    &__input, &__button {
        composes: light-theme light-theme--v_2 from '~@default-scss-modules/theme';
    }

    &__input, &__button, &__label, &__message {
        @extend %form-item;
    }

    &--theme_main {
        .form__item {
            margin-bottom: 30px;
        }

        .form__input {
            @extend %main-form-item;
            @extend %main-form-input;

            margin-top: 5px;
        }

        .form__message {
            margin-top: 15px;

            &--theme_error {
                color: var(--red);
            }

            &-icon {
                margin-right: 2px;
                font-size: 1.1em;
            }
        }

        .form__button {
            @extend %main-form-item;
            @extend %main-form-button;
        }
    }

    &--theme_aside {
        .form__input {
            @extend %aside-form-item;
            margin-bottom: 20px;
        }

        .form__message {
            margin-bottom: 5px;

            color: var(--red);
            text-align: center;
        }

        .form__button {
            /* Размер тени для кнопки */
            $box-shadow-size: 4.5px;

            @include box-shadow($box-shadow-size, var(--dark-blue-v1));
            @extend %aside-form-item;

            margin-top: 15px;
            transition: box-shadow var(--transition-duration), background-color var(--transition-duration);

            &:hover {
                @include box-shadow($box-shadow-size, var(--dark-yellow));
                background-color: var(--yellow);
            }
        }
    }

    &--theme_row {
        display: flex;

        .form__input {
            @extend %main-form-item;
            @extend %main-form-input;

            margin-right: 15px;
        }

        .form__button {
            @extend %main-form-item;
            @extend %main-form-button;

            flex: 0 0 25%;
        }
    }
}
