.table {
  width: 100%;
  border-spacing: 0;

  text-align: center;

  thead {
    text-transform: uppercase;
    user-select: none;

    @include _812 {
      display: none;
    }
  }

  &__th {
    position: sticky;
    top: 0;

    composes: dark-theme from '~@default-scss-modules/theme';
  }

  td, th {
    padding: 14px;
    font-weight: normal;
  }

  tr {
    &:nth-child(even) {
      background-color: var(--light-blue-v1);
    }
  }

  @include _812 {
    tr {
      background-color: transparent !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      td:first-of-type {
        position: sticky;
        top: 0;

        color: var(--blue);
        background-color: var(--dark-blue-v2);

        text-align: center;
      }
    }

    td {
      text-align: right;

      &:before {
        content: attr(aria-label);
        float: left;
      }

      &:nth-child(odd) {
        background-color: var(--light-blue-v1);
      }
    }

    tr, td {
      display: block;
    }
  }
}
