/* Заголовок таблицы */
@mixin caption {
    @include dark-theme;

    position: sticky;
    top: 0;

    user-select: none;
}

.table {
    width: 100%;
    border-spacing: 0;

    text-align: center;

    thead {
        th {
            @include caption;
            text-transform: uppercase;
        }

        @include _812 {
            display: none;
        }
    }

    tr {
        &:nth-child(even) {
            background-color: var(--light-blue-v1);

            @include _812 {
                background-color: transparent;
            }
        }

        @include _812 {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    td, th {
        padding: 14px;
        font-weight: normal;
    }

    @include _812 {
        td {
            text-align: right;

            &:before {
                content: attr(aria-label);
                float: left;
            }

            &:nth-child(odd) {
                background-color: var(--light-blue-v1);
            }

            &:first-of-type {
                @include caption;
                text-align: center;
            }
        }

        tr, td {
            display: block;
        }
    }
}
