.darkTheme {
    color: var(--blue);
    background-color: var(--dark-blue-v2);
}

.redTheme {
    color: var(--dark-red);
    background-color: var(--red);
}

%lightTheme {
    color: var(--dark-blue-v2);
}

.lightThemeV1 {
    @extend %lightTheme;
    background-color: var(--blue);
}

.lightThemeV2 {
    @extend %lightTheme;
    background-color: var(--light-blue-v1);
}

.lightThemeV3 {
    @extend %lightTheme;
    background-color: var(--light-blue-v2);
}
